* text=auto

*.ts text eol=lf
*.tsx text eol=lf
*.mjs text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.docx binary
*.sqlite3 binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
